/* Your styles here */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header div{
    background-color: #222F3F;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;

}
header a img {
    width: 5%;
    
    padding-top: 20px;
    
}
nav {
    background-color: #354758;
    padding-left: 20px;
    
}


nav ul li{
  display: inline-block;  
  padding-right: 14px;
  
}  
nav ul li a {
    text-decoration: none;
    color:#E9EBEF;
    font-size: .7rem;
    line-height: 25px;
}

main {
    padding: 25px;
    background-color: #E9EDEE;
}

.orange {
    background-color: #F46600;
    color: #E9EBEF;
    line-height: 25px;
    text-align: center;
    font-size: .7rem;
    margin-bottom: 25px;
}
.title {
    background-image: url(../images/bg-image.png);
    background-size: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #E9EBEF;
    font-weight: 700;
};

h1{
    font-size: 1.2rem;
    padding-bottom: 15px;
    margin: 50px
};

p {
    padding-top: 15px;

}
